body{
  background-color: cadetblue;
  margin: auto;
}

header{
  display: flex;
  justify-content: center;
  margin: 5px 5px 20px 5px;
  border: 15px solid darkslategray;
  padding: 20px 0px;
}

h1{
  color: blanchedalmond;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}


#sidebar{
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 20px 20px;
}

#show-results-btn{
  background-color: darkgrey;
  border:aliceblue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: 5px solid antiquewhite;
  cursor: pointer;
}

.imgs{
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: 20px 0px 20px 50px;
  cursor: pointer;
}

.imgs img{
  max-width: 250px;
  max-height: 250px;
  margin: 10px 10px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: blanchedalmond;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 5px solid darkslategrey;
}